html {
  width:100%;
  height:100%;
}


body {
  width:100%;
  height:100%;
  font-family: "Raleway", Arial, sans-serif;
  color: #333333; /* this is the DARK color */
  background-color: #f4f4f4; /* this is the LIGHT color */
}


/* Typography */
h1, h2, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Raleway", Arial, sans-serif;
}

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  color: white; /* this is the PRIMARY color */
}

a:hover, a:focus {
  text-decoration: none;
}


/* Navigation */

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-family: "Raleway", Arial, sans-serif;
  background-color: #333333; /* this is the DARK color */
}

.navbar-brand{
  list-style: none;
  font-weight: 400;
  color: #f4f4f4;
  margin-top: 5px;
  padding:0;
  height: 40px;
}

.navbar-brand img{
  margin-top:-9px;
  padding:0;
  height: 40px;
}

.navbar-brand:focus {
  outline: none;
  color: #333333;
}

.navbar-custom .nav li a{
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover{
  outline: none;
  background-color: rgba(255,255,255,0.65);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #f4f4f4; /* this is the LIGHT color */
}

@media(min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #181818; /* this is the DARK color */
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 5px 7px rgba(36,36,36,0.4);
  }
}


/* Landing Page */

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #f4f4f4; /* this is the LIGHT color */
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(../img/minneapolis2.jpg) no-repeat bottom center scroll;
  background-attachment: fixed;
  background-color: #333333; /* this is the DARK color */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 50px;
  font-weight: bold;
}

.intro-text {
  font-size: 18px;
}

.intro-divider {
  width:70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contactBtns {
  margin: 0 10px;
  width: 160px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out color .3s ease-in-out;
  transition: background .3s ease-in-out color .3s ease-in-out;
}

.contactBtns:hover {
  border: 1px solid #fff;
  color: #286090;
}

@media(min-width: 767px) {

  .intro {
    height: 100%;
    padding: 0;
  }

  .brand-heading {
    font-size: 64px !important;
  }

   .intro-text{
    font-size: 36px;
  }
} // end @media


/* Portfolio Section */

.thumbnail {
  min-height: 100%;
   position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.thumbnail:hover  {
  box-shadow: 4px 4px 12px #9b9b9b;
  //border: 2px solid #286090;
  z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
  }

  .portfolioImages {
    height: 176px !important;
    width: 100%;
  }

/*  .footer-text {
    float:right;
    margin-top: -20px;
    padding-right: 68px;
    font-size: .9em;
    color: #a5a5a5;
  }*/

.caption  {
  min-height: 250px;
}

.caption-footer {
  height: 50px;
  top: 410px;
  text-align: center;
}

.projectButton {
  border-radius: 2px;
  border: 0;
  width: 90%;
  background-color: rgba(#286090, 0.0);
  color: #286090;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out color .3s ease-in-out;
  transition: background .3s ease-in-out color .3s ease-in-out;
}



/* Feedback Section */
#feedback {
  color: #fff;
}

.content-section-feedback {
  background-color: #286090;
}

.feedback-btn {
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 0;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

.fa-comments {
  font-size: 28px;
  margin-right: 10px;
}

.feedback-btn:hover {
  background-color: #fff;
  color: #286090;
  box-shadow: 0px 5px 7px rgba(36,36,36,0.4);
  transition: 0.5s;
}


/* skill set */

#skills {
  padding-top: 50px;
}

.skillSet {
  text-align: center;
  margin-top: 60px;

  i {
    font-size: 80px;
    color: #a3a3a3;
  }

  p {
    margin: 20px 0;
    color: #a3a3a3;
  }

  img {
    height: 80px;
    width: auto;
  }

} // end of skillSet




/* About Section */

.photo {
  padding:3px;
  border: 1px solid #dbdbdb;
}

// .photo:hover {
//
//     -webkit-animation:spin 4s linear infinite;
//     -moz-animation:spin 4s linear infinite;
//     animation:spin 4s linear infinite;
// }
// @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
// @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




/* Content Section */

.content-section {
  padding: 50px 0 80px 0 !important;
}

.content-section-about{
  background-color: #fff;
}

.content-section h1{
  font-weight: bold;
  font-size: 46px;
}

.connectBtns {
  width: 150px;
  border: 1px solid #181818;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out color .3s ease-in-out;
  transition: background .3s ease-in-out color .3s ease-in-out;
}

.connectBtns:hover {
  border: 1px solid #286090;
  background-color: #286090;
  color: #fff
}





/* Gallery */
.row_spacing {
  margin-bottom: 30px;
}





/* Footer */

footer {
background-color: #181818; /* this is the DARK color */
}

.content-footer {
  padding: 60px 0 40px 0;
  border-top: 10px solid #286090;
}

.copyright-text {
  padding-top: 20px;
  font-size: 12px;
  color: #bcbcbc;
}
