/*This is CSS for the flexible box model*/

/* This will reset the css*/
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	dispay:block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}
#wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#top_header{
	background: yellow;
	border-bottom: 3px solid black;
	padding: 20px;
}
#top_menu{
	border: red;
	background: tan;
	color: red;
}
#top_menu li{
	display: inline-block; /*position left to right*/
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
#new_div{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#main_section{
	border: 1px solid blue;
	-webkit-box-flex: 1;
	margin: 20px;  
	padding: 20px;
}
#side_content{
	border: 1px solid red;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66CCCC;
}
#the_footer{
	text-align: center;
	/*clear: both;   Resets everything set earlier*/ 
	padding: 15px;
	border-top: 1px solid green;
}
#the_footer li{
	display: inline-block;
	list-style: none;
	padding: 10px;
}
article{
	background: #FFFBCC;
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}

























