@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	background: black;
	background-image: url(images/background6.jpg);
	background-size: 1920px auto;
	color:#fff;
	font:13px Helvetica,  Arial,  sans-serif;
}

#header, #footer , #header_nav, #header_nav2{
	float:left;
	padding:15px 0;
	min-width:100%;
}
	
#header_nav, #header_nav2 {
	background: black;
	position: fixed;
}
	
#header_nav #login {
	float: right;
	margin-right: 20%;
}

#header_nav a {
    color: black;
    text-decoration: none;
}

#header_nav a:hover {
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}

#header_nav2 #login {
	float: right;
	margin-right: 25%;
	color: black;
    text-decoration: none;
}

#header {
	background: #4e0400;
	border-top: 2px solid #a20d00;
	border-bottom: 2px solid #a20d00;
	height: 120px;
	margin-top: 40px;
	position: fixed;
	box-shadow: 0px 8px 15px black;
}

/* Beginning of Header Menu */
#header_menu{
	height: 140px;
	width: 1200px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#header_menu p {
  color: #eee;
  outline: 0;
  text-decoration: none;
  font-size: 14pt;
}

#header_menu a {
  color: #eee;
  outline: 0;
  text-decoration: none;
  font-size: 15pt;
}

#header_menu a:hover {
  text-decoration: none;
    color: #f65c02;
}

#button1 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 1;
}

#button2 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 2;
}

#button3 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 3;
}

#button4 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 0;	
	padding-top: 0px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 4;

}

#button5 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 5;
}

#button6 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 6;
}

#button7 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;	
	padding-top: 35px;
	text-align: center;	
	-moz-border-radius   :20px;
    -webkit-border-radius:20px;
	-webkit-box-ordinal-group: 7;
}

/* End of Header Menu */

/* Start Info Bar - Home Page */
#content_infobar{
	height: 90px;
	width: 100%;
	margin-top: 16px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

		#content_infobar a{
			text-decoration: none;
			color: #eee;
		}

		#left_infobar {
			width: 83%;
			height: 100%;
			padding-top: 18px;
			padding-left: 30px;
			font-family: DengXian;
			font-size:35pt;
		}
		
		#right_infobar {
			width: 180px;
			height: 70px;
			margin-top: 10px;
			margin-right: 24px;
			background: #a80d00;
			text-align:center;
			padding-top: 22px;
			padding-left:auto;
			padding-right:auto;
			font-family: DengXian;
			font-size:18pt;			
		}

		#right_infobar:hover {

			background: #f65c02;
		}

/* End Info Bar - Home Page */


/* Start Images - Home Page */

#content_buttons{
	height: 240px;
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

		.buttons{
			width: 100%;
			padding: 12px;
			margin-bottom:90px;
			font-family: DengXian;
			font-size:16pt; 
			background: -webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.95)); /*Safari 5.1-6*/
			background: -o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)); /*Opera 11.1-12*/
			background: -moz-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.95)); /*Fx 3.6-15*/
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.95)); /*Standard*/
			color:white;
			border: 0px;
			-webkit-transition: -webkit-transform 300ms;
		}

#image1 {
	width: 270px;
	height: 100%;
	margin-left: 24px;	
	border-top: 20px solid #a80d00;
	border-left: 2px solid #a80d00;
	border-right: 2px solid #a80d00;	
	border-bottom: 2px solid #a80d00;		
	overflow: hidden;
}

	#image1:hover  {
		-webkit-transform: scale(1.2,1.2);
		-webkit-transition: -webkit-transform 300ms;
		border-top: 20px solid #f65c02;		
		border-left: 2px solid #f65c02;
		border-right: 2px solid #f65c02;	
		border-bottom: 2px solid #f65c02;
	}
	
	#image1:hover  button{
		-webkit-transform: translateY(-104px);
	}
	
#image2 {
	width: 270px;
	height: 100%;
	margin-left: 24px;	
	border-top: 20px solid #a80d00;
	border-left: 2px solid #a80d00;
	border-right: 2px solid #a80d00;
	border-bottom: 2px solid #a80d00;	
	overflow: hidden;	
}

	#image2:hover  {
		-webkit-transform: scale(1.2,1.2);
		-webkit-transition: -webkit-transform 300ms;
		border-top: 20px solid #f65c02;		
		border-left: 2px solid #f65c02;
		border-right: 2px solid #f65c02;	
		border-bottom: 2px solid #f65c02;			
	}
	
	#image2:hover  button{
		-webkit-transform: translateY(-104px);
	}
	
#image3 {
	width: 270px;
	height: 100%;
	margin-left: 24px;	
	border-top: 20px solid #a80d00;
	border-left: 2px solid #a80d00;
	border-right: 2px solid #a80d00;
	border-bottom: 2px solid #a80d00;			
	overflow: hidden;	
}

	#image3:hover  {
		-webkit-transform: scale(1.2,1.2);
		-webkit-transition: -webkit-transform 300ms;
		border-top: 20px solid #f65c02;		
		border-left: 2px solid #f65c02;
		border-right: 2px solid #f65c02;	
		border-bottom: 2px solid #f65c02;			
	}
	
	#image3:hover  button{
		-webkit-transform: translateY(-119px);
	}	

#image4 {
	width: 270px;
	height: 100%;
	margin-left: 24px;
	border-top: 20px solid #a80d00;
		border-left: 2px solid #a80d00;
		border-right: 2px solid #a80d00;
		border-bottom: 2px solid #a80d00;			
	overflow: hidden;	
}

	#image4:hover  {
		-webkit-transform: scale(1.2,1.2);
		-webkit-transition: -webkit-transform 300ms;
		border-top: 20px solid #f65c02;		
		border-left: 2px solid #f65c02;
		border-right: 2px solid #f65c02;	
		border-bottom: 2px solid #f65c02;			
	}
	
	#image4:hover  button{
		-webkit-transform: translateY(-104px);
	}


#content_images p{
	padding-top: 12px;
	margin-top: 0px;
	font-family: DengXian;
	font-size:16pt;
}
/* End Images - Home Page */


#header_menu img{
	width: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -59px;
	padding: 0;
}

#wrapper{
	max-width: 1200px;
	height: 950px;
	margin-left: auto;
	margin-right: auto;	
	background: black;
}



#home_image img{
	width: 100%;
	height: 375px;
	margin-top: 120px;

}

#wrapper_login{
	max-width: 420px;
	height: 150px;
	padding-top: 275px;
	margin-left: auto;
	margin-right: auto;	
	background: black;
}
	
#content #content_info{
	padding-top:35px;
	padding-left:40px;
	padding-right:40px;	
	clear:both;
}
	

	


/* LOGIN PAGE*/
html {
  height: 100%;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#login_title{
font-size: 16pt;
margin-top: 20px;
margin-bottom: 20px;
}

.site__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 0;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}
.form--login {
  color: #eee;
}
.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}
.form--login label {
  background-color: #2e0200;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.form--login input[type="text"], .form--login input[type="password"] {
  background-color: #262729;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
  background-color: #434A52;
}
.form--login input[type="submit"] {
  background-color: #a80d00;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
  background-color: #f65c02;
}
.form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .8rem;
}
.form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

.grid__container {
  margin: 0 auto;
  max-width: 20rem;
  width: 10%;
}



/* FOOTER */

.bar {
font-size: 20px;
color: #e4a478;
opacity: .4;
}

.footer_text {
font-size: 8pt;
color: #e4a478;
opacity: .4;
}

#footer span {
padding: 8px;
}

#footer {
	background:#4e0400;
	text-align:center;
	position:fixed;
	bottom:0;
}


/*  ABOUT ME PAGE  */

#wrapper_aboutme{
	max-width: 1200px;
	height: 950px;
	margin-left: auto;
	margin-right: auto;	
	background: white;
}

#top_aboutme{
	height: 450px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

		#top_left_aboutme{
			width:56%;
			height: 200px;
			color: black;
			margin-top: 250px;
			padding-top: 18px;
			padding-left: 30px;
			overflow: hidden;
		}
		
				#top_left_aboutme h1{
					font-family: Segoe UI Black;	
					font-size: 72pt;
					padding-left: 20px;
				}

				#top_left_aboutme h3{
					font-family: Segoe UI Semibold;		
					font-size: 38pt;
					padding-left: 100px;
				}
		
		#top_right_aboutme{
			width:44%;
			height: 200px;
			color: black;
			margin-top: 250px;	
			font-family: Segoe UI Semibold;		
			font-size: 12pt;
			padding-top: 30px;
			padding-right: 30px;			
			overflow: hidden;
		}
		
#bottom_aboutme{
	height: 460px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

		#bottom_left_aboutme{
			width:38%;
			height: 460px;
			overflow: hidden;
		}
		
		#bottom_right_aboutme{
			width:62%;
			height: 450px;
			overflow: hidden;		
		}
		
				#bottom_right_top{
					height: 78%;
					width: 100%;
					color: black;
					font-family: Segoe UI Semibold;		
					font-size: 12pt;
					padding-right: 30px;	
					overflow: hidden;
				}
				
				#bottom_right_bottom{
					height: 22%;
					width: 100%;
					color: #a80d00;
					text-align: center;
					font-family: Segoe UI Semibold;		
					font-size: 11pt;
					overflow: hidden;		
				}		

/*  RECIPES PAGE  */

#sidebar_left{
	width: 250px;
	height: 950px;
	float: left;
}

	#sidebar_left_top{
		background: #4e0400;
		width: 220px;
		height: 600px;
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 0px 0px 5px 5px;
	}
		
			#category {
				background: #a80d00;
				width: 100%;
				height: 220px;
			}
			
			#category p{
				color: white;
				font-family: DengXian;	
				font-size: 14pt;
				text-align: center;
				padding-top: 185px;
			}
			
			#menu_categories  {
				padding-top: 10px;
				padding-left: 0px;
			}
			
			#menu_categories p {
				color: white;
				font-family: DengXian;	
				font-size: 12pt;
				text-align: left;
				padding-top: 4px;
				padding-bottom: 4px;				
				padding-left: 37px;
			}
			
			hr {
				width: 90%;
				display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				margin-left: auto;
				margin-right: auto;
				border-style: inset;
				border-color: #300200;
			}
			
			#menu_categories a{
			    color: white;
				text-decoration: none;
			}
			
			#menu_categories a:hover{
				 color:#f65c02; 
				 cursor:pointer; 
			}
		
	#sidebar_left_bottom{
		background: #4e0400;
		width: 220px;
		height: 275px;
		margin-top: 15px;			
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 5px 5px 5px 5px;
	}
			.news_header{
				background: #a80d00;
				width: 100%;
				height: 50px;
				border-radius: 5px 5px 0px 0px;
			}
			
			.news_header p{
				color: white;
				font-family: DengXian;	
				font-size: 14pt;
				text-align: center;
				padding-top: 15px;
			}
			
		#news{
			padding: 30px 30px 15px 30px;
			font-family: DengXian;	
			font-size: 11pt;			
		}	
		
		.news_date{
			font-family: DengXian;	
			font-size: 10pt;
			color: #e4a478;
			text-align: right;
			opacity: .4;
		}
		
#middle_content{
	width: 700px;
	height: 950px;
	float: left;
	overflow: scroll;
	padding-bottom: 45px;
}	

		#middle_content h1{
			padding-top: 210px;
			padding-left: 20px;
			font-size: 24pt;
		}
		
		.recipe_block{
			width: 655px;
			height: 170px;
			margin-top: 10px;
			margin-left: 15px;
			margin-right: 35px;
			border: 2px solid #a80d00;
			background: #1e0200;
		}
		
				.recipe_img, .recipe_img2, .recipe_img3, .recipe_img4{
					width: 146px;
					height: 146px;
					margin-left: 10px;
					margin-top: 10px;
					float: left;
					background: black;
					text-decoration: none;
				}

				.recipe_info, .recipe_info2, .recipe_info3, .recipe_info4{
					width: 475px;
					height: 146px;
					margin-top: 10px;
					margin-left: 166px;
					text-decoration: none;
				}	
					
						.block a{
							color: white;
							text-decoration: none;
						}
						
						.recipe_block:hover{
							-webkit-transform: scale(1.035,1.035);
							-webkit-transition: -webkit-transform 300ms;
							border-color: #f65c02;
							background: #4e0400;
						}
						
				.recipe_block h2{
					font-size: 18pt;
				}	
					
				.recipe_by{
					text-align: left;
					padding-top: 63px;
					color: #e3a377;
					opacity: .4;
				}	
				
				.recipe_date{
					text-align: left;
					padding-top: 2px;
					color: #e3a377;
					opacity: .4;
				}
				
.recipe_block_ingredients{
	width: 655px;
	height: 1465px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 60px;
	border: 2px solid #a80d00;
	/*background: #4e0400;*/
	background: black;
	
}

			.recipe_img_ingredients{
				width: 100%;
			}
			
					.print_button{
						padding-top: 10px;
						padding-right: 20px;
						font-size: 11pt;
						float:right;
						color: red;
					}
					
					.print_button a{
						color: red;
						text-decoration: none;
					}
					
					.print_button a:hover{
						color: #f65c02;
					}
			
			.recipe_info_ingredients h2{
				padding-top: 20px;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 20pt;
			}
			
			.recipe_information{
				padding-top: 80px;
				padding-left: 40px;
			}
			
	#ingredients{
		width: 100%;
		font-size: 12pt;
		padding-top: 60px;
		padding-left: 40px;
		padding-right: 40px;
	}

			.ind_ingredients{
				padding-top: 10px;
			}
			
			#ingredients hr {
				width: 100%;
				display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				border-style: inset;
				border-color: white;
			}
			
	#instructions{
		width: 100%;
		font-size: 12pt;
		padding-top: 60px;
		padding-left: 40px;
		padding-right: 40px;
	}	

			.ing_instructions{
				padding-top: 10px;
			}	
			
			#instructions hr {
				width: 100%;
				display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				border-style: inset;
				border-color: white;
			}
			
		.recipe_information{
			color: #3a2c23;
		}
		
		.recipe_information #info_spanleft{
			float:left;
		}
		
		.recipe_information #info_spanright{
			float:right;
			padding-right: 40px;
		}



		
#sidebar_right{
	width: 250px;
	height: 950px;
	float: left;
}	

	#sidebar_right_top{
		background: #4e0400;
		width: 220px;
		height: 420px;
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 0px 0px 5px 5px;
	}
	
		#sidebar_right_top h1{
			font-family: DengXian;			
			font-size: 11pt;
			padding-top: 168px;
			padding-left: 15px;
			padding-right: 15px;
			line-height: 125%;			
		}
	
		#sidebar_right_top form{

			padding-left: 10px;
			padding-right: 10px;
		}

	#sidebar_right_bottom{
		background: #4e0400;
		width: 220px;
		height: 435px;
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 5px 5px 5px 5px;
	}	
	
		#twitter_feed{
			padding: 25px 30px 15px 30px;
			font-family: DengXian;	
			font-size: 11pt;			
		}	
		
		.feed_address a{
			color: white;
			text-decoration: none;
		}
		
		.feed_address a:hover{
			color:#f65c02; 
			cursor:pointer; 
		}
		
		.feed_date{
			font-family: DengXian;	
			font-size: 10pt;
			color: #e4a478;
			text-align: right;
			opacity: .4;
		}
